<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>JS Media Player</title>

    <link rel="stylesheet" href="files/images/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="files/images/fullpage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="files/js/ext/fullpage.extensions.min.js"></script>
    <script src="files/js/ext/mediaelement-and-player.js"></script>

</head>
<body>
    <div id="fullpage">
        <div class="section">
            <div style="display:none;">
                <audio id="audioPlayer" autoplay="true"></audio>
            </div>
            <div id="vue">
                <div class="slide" v-for="page in pages">
                    <div class="station-container">
                        <div class="station" v-for="radio in page" v-bind:data-ip="radio.ip" v-bind:data-name="radio.name" v-bind:data-id="radio.id">
                            <img v-bind:src="radio.image" class="thumb"><span class="name">{{radio.name}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="debug" style="display:none;"></div>
    <nav>
        <span class="audioControls">
            <span id="playPause" class="glyphicon glyphicon-play"></span>
        </span>
        <span id="playing" onclick="location.reload();">Currently not playing anything.</span>
    </nav>
    <script src="files/js/ResponsiveTiles.js"></script>
    <script src="files/js/XMediaPlayerClass.js"></script>
    <script src="files/js/RadioStationClass.js"></script>
    <script src="files/js/RadioList.js"></script>
    <script src="files/js/App.js"></script>
</body>
</html>