nav {
    position:fixed;
    bottom:0;
    height:100px;
    background: rgba(69, 69, 69, 0.7);
    width:100%;
}

nav .audioControls {
    font-size: 80px;
}

nav #playing {
    color:rgba(255, 255, 255, 1);
    font-size: 30px;
    position: fixed;
    text-align: right;
    bottom: 25px;
    right: 10px;
}
.controls{
    font-size: 80px;
    width: 50%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.station {
    max-width: 30%;
    min-height: 100px;
    background: rgba(105, 105, 105, 1);
    border-radius: 10px;
    text-align: center;
    padding:4px;
    margin: 5px;
    color: white;
    display: inline-block;
    cursor:pointer;
}


.station:hover {
    background: rgba(105, 105, 105, 0.5);
    color:black;
}

.slide {
    background: rgb(200, 100, 0);
}

.station-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}