body {
    height: 100%;
}
nav {
    position:fixed;
    bottom:0;
    height:50px;
    background: rgba(69, 69, 69, 0.7);
    width:100%;
}

nav .audioControls {
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}

nav #playing {
    color:rgba(255, 255, 255, 1);
    font-size: 14px;
    position: fixed;
    text-align: right;
    bottom: 14px;
    right: 10px;
}
.controls {
    font-size: 80px;
    width: 50%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.station {
    background: rgba(105, 105, 105, 1);
    border-radius: 10px;
    text-align: center;
    margin: 1px 2px;
    color: white;
    display: inline-block;
    cursor:pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.station.playing {
    background: rgb(0, 200, 100) !important;
    transition: all 0.5s ease;
}

.station .thumb {
    width: available;
    width: -moz-available;
    width: -webkit-available;
    opacity:0.6;
    transition: all 0.5s ease;
    max-width: 250px;
}

.station .thumb:hover{
    opacity:0.8;
    transition: all 0.5s ease;
}

.station .name {
    position:absolute;
    top: 0;
    left: 0;
}


.station:hover {
    background: rgba(105, 105, 105, 0.5);
    color:black;
}

.slide {
    background: rgb(24, 24, 24);
}

.station-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#debug{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px;
    color: white;
}