.controls{
    font-size: 80px;
    width: 50%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.station {
    width: 150px;
    height: 50px;
    background: rgba(105, 105, 105, 1);
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding:4px;
    margin: 5px;
    color: white;
}

.station:hover {
    background: rgba(105, 105, 105, 0.5);
    color:black;
}